# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore .class files
*.class

# Ignore .idea, .vscode folders
.idea
.vscode

# ignore /bin folder
/bin
bin
app/bin