@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: 'Inter';
  font-weight: bold;
  src: url("../fonts/Inter-Bold.ttf");
}

.root {
  -fx-font-family: 'Inter';
  -fx-font-size: 16px;
  -fx-background-color: #F5F5F5;
}

.bold-text {
  -fx-font-weight: bold;
}

.large-text {
  -fx-font-size: 18px;
}

.extra-large-text {
  -fx-font-size: 22px;
}

.box {
  -fx-spacing: 8px;
}